# Server
SERVER_PORT=8091
GRPC_PORT=9091

# Database (PostgreSQL)
DB_HOST=your-rds-host.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=github_issues_db
DB_USERNAME=your_username
DB_PASSWORD=your_password
SSL_CERT_PATH=./global-bundle.pem

# JWT/Keycloak Configuration
JWT_ISSUER_URI=http://your-keycloak-host/realms/YourRealm
JWT_JWK_SET_URI=http://your-keycloak-host/realms/YourRealm/protocol/openid-connect/certs
